# Keep this file aligned with .gitignore. EAS prioritizes it when creating the
# project archive.

# dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
dist/
web-build/
.harness/
coverage/
.reassure/
expo-env.d.ts

# fbtee
.enum_manifest.json
.src_manifest.json
source_strings.json
src/translations/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
pnpm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
